@font-face{
    font-family: 'yanone';
    src: url('fonts/yanone.ttf');
}
@font-face{
    font-family: 'finger';
    src: url('fonts/finger.ttf');
}
@font-face{
    font-family: 'titilium';
    src: url('fonts/titilium.ttf');
}

*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'yanone', Arial, Helvetica;
    font-style: 20px;
    background-image: url(../img/white_wall_hash.webp);
    background-attachment: fixed;
}

div{

    border-image-source: url('../img/pattern.png');
    border-image-slice: 100;

}

/*Navigation Bar */
input[type=checkbox] {
    display: none;
  } 
  
  /* HAMBURGER MENU */
  .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
  }



header{
    display: block;
    width: 100%;
    height: auto;
    background: #ff000073;
    position: fixed;
    text-transform: uppercase;
    z-index: 999;
}

header ul{
    display: block;
    width: 40%;
    height: inherit;
    margin: 0px auto;
    margin-top: -4px;
}

header li{
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    line-height: 79px;
}

header a{
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    height: inherit;
    text-decoration: none;
    color: white;
    transition: all 300ms;

}

.actived{
    background: rgb(0 0 0 / 68%);
}
header a:hover
{
    background: rgb(0 0 0 / 68%);
}

#logo{
	font-family: "finger";
	font-size: 30px;
}
#logo a{
	transition: color 500ms, transform 500ms;
}

#logo a:hover{
	background: transparent;
	color: black;
	transform:scale(1.1, 1.5);
}

/* Slider */

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.left-content {
    flex: 0 0 calc(50% - 20px); /* Adjust the width as needed */
    margin-right: 20px; /* Adjust the margin as needed */
}

.about {
    flex: 0 0 calc(50% - 20px); /* Adjust the width as needed */
}

.stack {
    width: 20%;
    text-align: center;
}

.stack img {
    display: block;
    margin: 0 auto;
}
    
.stack h2{
    margin-top: 20px; /* Add margin between headings and images */
}

.follow{
    text-align: center;
    width: 750px;
    margin: auto;
}
.follow div img{
    width: 250px;
    height: 250px;
    float: left;
}


/* Main Box */

#content{
    width: 75%;
    margin: 0px auto;
    box-shadow: 0px 0px 40px black;
    background: rgba(255, 255, 255, 0.7);
    padding-top: 90px;
}

/*Final page*/

footer{
    width: 75%;
    height: 50px;
    margin: 0px auto;
    padding-top: 15px;
    color: rgba(0, 0, 0, 0.5);
}

/*About*/

#title{
    width: 70%;
    margin: 0px auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
    padding: 20px;
}

#title h1{
    font-family: finger;
    font-size: 60px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

h2.contact {
    color: gray;
    font-size: 35px;
}
#title h2{
    width: 100%;
    color: gray;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

article{
    width: 70%;
    margin: 0px auto;
    margin-bottom: 20px;
    font-size: 23px;
}

article h2{
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

article p{
    padding-top: 20px;
    padding-bottom: 5px;
    text-align: justify;
}

p{
    font-size: 21px;
}

#curriculum{
    padding: 20px;
}

/* FORM */
.container{
	padding: 50px;
	padding-top: 10px;
}

.container .image{
	float: left;
	width: 47%;
}

.container .image img{
	width: 100%;
}

.container .data{
	float: left;
	width: 48%;
	margin-left:30px;
}

.container h2{
	display: block;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	margin-bottom: 15px;
}

form{
	width: 80%;
}

form label{
	display: block;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 5px;
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form textarea{
	width: 40%;
	padding: 5px;
}

form button,
form input[type="submit"],
.button-edit,
.button-delete{
	display: block;
	font-size: 17px;
	padding: 10px;
	margin-top: 15px; 
	color:white;
    background: #ff000073;
	border: 1px solid #ff0000e6;
	cursor: pointer;
}

.button-edit,
.button-delete{
	width: 25%;
    text-align: center;
	float: left;
	margin-right: 10px;
	text-decoration: none;
}

.button-edit{
	background: orange;
	border: none;
}

.button-delete{
	background: red;
	border: none;
}

form button:hover,
form input[type="submit"]:hover{
	background: rgba(53, 103, 164, 0.8);
	border: 1px solid rgba(13, 67, 133, 1);
}

form input[disabled]{
	opacity: 0.4;
	cursor: not-allowed;
}

.form_error{
	font-size: 13px;
	padding: 3px;
	background: red;
	color:white;
	margin-left: 5px;
}

.message{
	width: 50%;
	padding: 5px;
	border: 1px solid #eee;
}

.success{
	background: green;
	color: white;
}

.message a{
	color: white;
}

.failed{
	background: red;
	color: white;
}


/* Project List */

.project{
	list-style: none;
	display: block;
	float: left;
	width: 28%;
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 30px;
}

.project .image{
	width: 100%;
	height: 150px;
	overflow: hidden;
}

.project img{
	width: 100%;
}

.project a{
	text-decoration: none;
	color: black;
}

.confirm{
	display: block;
	font-weight: bold;
	margin-top: 20px;
}

.project .urls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.data .urls {
    margin-top: 20px;
}

/* Project */

.project-container {
    display: flex;
    flex-direction: column;
    margin: 20px; /* Add margin for spacing */
    padding: 10px; /* Add padding for spacing */
}

.project-container .image img {
    max-width: 100%; /* Make images responsive */
    height: auto;
}

.project-container .data {
    padding: 10px; /* Add padding for spacing */
}

.project-container .urls {
    display: flex;
    justify-content: space-around; /* Distribute links evenly */
}


.clear{
    clear: both;
}

 .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  